@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Sacramento&display=swap');

/* Colours: #FB732E, #D33866, #782443, #FCA445 */

.main_background {
    background-color:#F19953;
    height: 100vh;
    float: right;
}

.welcome_image {
    background-color: antiquewhite;
}

.welcome_bar {
    height: 100px;
    background-color:#FB732E;
    bottom: 0px;
}

.info_bar {
    height: 180px;
    background-image: linear-gradient(to top right, #782443, #D33866);
    float: bottom;
}

/* #left_container {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100vh;
} */

/* #main_text {
    position: absolute;
    top: 4%;
    left: 40%;
} */

h1  {
    color: white;
    font-family: 'Sacramento', cursive;
    font-size: 3em;
}

h2  {
    color: black;
    font-family: 'Sacramento', cursive;
    font-size: 5em;
    position: absolute;
    bottom: 200px;
}

p {
    top: 30%;
    position: relative;
}

/* #news {
    color: white;
} */

#main_couple {
    width: 100vw;
    height: 80vh;
    object-fit: cover;
    padding: 0px;
}

/* RSVP WEBPAGE */

#h1_rsvp {
    color: black;
    font-family: arial;
    text-align: center;
}

#plus-one {
    /* scales the checkbox to 1.3 times its original size */
    transform: scale(1.3);
    margin-right: 12px;
}

#guest-check {
    /* CSS layout model, flex, for spacing and aligning items when conntainer size is unknown */
    display: flex;
    /* horizontally center */
    justify-content: center;
}