@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Sacramento&display=swap');

/* Colours: #FB732E, #D33866, #782443, #FCA445 */

.main_background {
    background-color:#F19953;
    height: 100vh;
    float: right;
}

.welcome_image {
    background-color: antiquewhite;
}

.welcome_bar {
    height: 80px;
    background-color:#FB732E;
    bottom: 0px;
}

.info_bar {
    height: 180px;
    background-image: linear-gradient(to top right, #782443, #D33866);
    float: bottom;
}

/* #left_container {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100vh;
} */

/* #main_text {
    position: absolute;
    top: 4%;
    left: 40%;
} */

h1  {
    color: white;
    font-family: 'Sacramento', cursive;
    font-size: 3em;
}

h2  {
    color: black;
    font-family: 'Sacramento', cursive;
    font-size: 2em;
    top: 30%;
    position: relative;
}

/* #h1_rsvp {
    color: black;
    font-family: arial;
} */

p {
    top: 30%;
    position: relative;
}

/* #news {
    color: white;
} */

#main_couple {
    width: 100vw;
    height: 80vh;
    object-fit: cover;
    padding: 0px;
}
/* vh stands for viewport height. It makes this image the height of the device */
/* object-fit: cover, this attribute maintains the image's aspect ratio, but covers all available space */

/* .btn-primary {
    --bs-btn-color:#BC8034;
    --bs-btn-bg: none;
    --bs-btn-border-color:#BC8034;
    --bs-btn-hover-bg:#BC8034;
    --bs-btn-hover-border-color: none;
    width: 75%;
}

.rsvp_btn {
    position: relative;
    top: 30%;
}

a   {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    color: white;
    text-decoration: none;
} */
/* text-decoration: none; removed the underline from the nav links */

/* a:hover {
    color: #BC8034;
} */
/* Display the a tags or links as a block element, makes the links take up the whole width */